.products-hero{
    padding: 30px
}
.products-hero-image img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 300px;
}

.product-hero-texts-content{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin: 50px 0;
    align-items: center;
    gap: 50px;
}
.product-hero-texts h1{
    font-size: 50px;
}
.product-hero-texts p{
      font-size: 18px;
      line-height: 1.6;
}

.product-hero-texts p span{
     color: var(--main-color);
     font-size: 20px;
     font-weight: 500;
}

.products-body{
    padding-bottom: 100px;
}

.products-tabs ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.products-tabs ul li{
     padding: 12px 30px;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
     cursor: pointer;
     background: rgba(218, 234, 218, 0.553);
     font-size: 16px;;
}
.products-tabs ul li.active{
      background: var(--main-color);
      color: white;
}

.products-row{
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
}

.product-moja .image-section{
     height: 450px;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     overflow: hidden;
     margin-bottom: 20px;
}
.product-moja .image-section img{
     transition: all 0.8s ease;
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -ms-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
}
.product-moja:hover .image-section img{
     transform: scale(1.1);
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
     -o-transform: scale(1.1);
}

.product-moja h3{
      font-size: 20px;
      font-weight: 550;
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
}
.product-moja:hover h3{
    color: var(--main-color);
}

.faq-section{
      padding: 100px 0;
      background: var(--main-color);
}

.faqs-intro{
    width: 900px;
    margin:auto;
    text-align: center;
}
.faqs-intro h2{
      font-size: 60px;
      color: whitesmoke;
      margin-bottom: 10px;
}
.faqs-intro p{
       font-size: 18px;
       line-height: 1.6;
       color: gainsboro;
}





@media(max-width: 1090px){
      .product-hero-texts-content{
            grid-template-columns: 1fr;
            gap: 10px;
      }
      .products-row{
             grid-template-columns: 1fr 1fr;
      }
}

@media(max-width: 768px){
      .product-hero-texts h1{
             font-size: 40px;
      }
      .products-tabs ul{
           justify-content: center;
           gap: 20px;
      }
      .products-row{
         grid-template-columns: 1fr;
      }
}